@tailwind base;
@tailwind components;
@tailwind utilities;

.outline--text--2 {
  /* text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
  -webkit-text-stroke: 1.5px black;
}

.outline--text--1 {
  /* text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */
  -webkit-text-stroke: .75px white;
  
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
